:root {
    /* LIGHT: 100=dark, 0=light */
    --x4-gray-100: #0c0c0c;
    --x4-gray-99: #101010;
    --x4-gray-95: #1a1a1a;
    --x4-gray-93: #1d1d1d;
    --x4-gray-90: #242424;
    --x4-gray-85: #252525;
    --x4-gray-83: #282828;
    --x4-gray-80: #363636;
    --x4-gray-70: #4d4d4d;
    --x4-gray-68: #555555;
    --x4-gray-65: #6a6a6a;
    --x4-gray-60: #737373;
    --x4-gray-59: #767676;
    --x4-gray-55: #838383;
    --x4-gray-53: #8a8a8a;
    --x4-gray-52: #8d8d8d;
    --x4-gray-50: #979797;
    --x4-gray-45: #a0a0a0;
    --x4-gray-40: #a1a1a1;
    --x4-gray-39: #a8a8a8;
    --x4-gray-35: #b5b5b5;
    --x4-gray-34: #b8b8b8;
    --x4-gray-30: #c2c2c2;
    --x4-gray-25: #c6c6c6;
    --x4-gray-20: #cdcdcd;
    --x4-gray-18: #d5d5d5;
    --x4-gray-15: #e1e1e1;
    --x4-gray-14: #e5e5e5;
    --x4-gray-10: #f1f1f1;
    --x4-gray-05: #f5f5f5;
    --x4-gray-03: #f9f9f9;

    --x4-white: white;
    --x4-black: black;
    --x4-red: red;
    --x4-dimgray: dimgray;
    --x4-silver: silver;
    --x4-gray: gray;
    --x4-lightgray: lightgray;

    /* bg */
    --x4-white-bg: var(--x4-white);
    --x4-black-bg: var(--x4-black);
    --x4-gray-100-bg: var(--x4-gray-100);
    --x4-gray-99-bg: var(--x4-gray-99);
    --x4-gray-95-bg: var(--x4-gray-95);
    --x4-gray-93-bg: var(--x4-gray-93);
    --x4-gray-90-bg: var(--x4-gray-90);
    --x4-gray-85-bg: var(--x4-gray-85);
    --x4-gray-83-bg: var(--x4-gray-83);
    --x4-gray-80-bg: var(--x4-gray-80);
    --x4-gray-70-bg: var(--x4-gray-70);
    --x4-gray-68-bg: var(--x4-gray-68);
    --x4-gray-65-bg: var(--x4-gray-65);
    --x4-gray-60-bg: var(--x4-gray-60);
    --x4-gray-59-bg: var(--x4-gray-59);
    --x4-gray-55-bg: var(--x4-gray-55);
    --x4-gray-53-bg: var(--x4-gray-53);
    --x4-gray-52-bg: var(--x4-gray-52);
    --x4-gray-50-bg: var(--x4-gray-50);
    --x4-gray-45-bg: var(--x4-gray-45);
    --x4-gray-40-bg: var(--x4-gray-40);
    --x4-gray-39-bg: var(--x4-gray-39);
    --x4-gray-35-bg: var(--x4-gray-35);
    --x4-gray-34-bg: var(--x4-gray-34);
    --x4-gray-30-bg: var(--x4-gray-30);
    --x4-gray-25-bg: var(--x4-gray-25);
    --x4-gray-20-bg: var(--x4-gray-20);
    --x4-gray-18-bg: var(--x4-gray-18);
    --x4-gray-15-bg: var(--x4-gray-15);
    --x4-gray-14-bg: var(--x4-gray-14);
    --x4-gray-10-bg: var(--x4-gray-10);
    --x4-gray-05-bg: var(--x4-gray-05);
    --x4-gray-03-bg: var(--x4-gray-03);

    /* border */
    --x4-white-border: var(--x4-white);
    --x4-black-border: var(--x4-black);
    --x4-gray-100-border: var(--x4-gray-100);
    --x4-gray-99-border: var(--x4-gray-99);
    --x4-gray-95-border: var(--x4-gray-95);
    --x4-gray-93-border: var(--x4-gray-93);
    --x4-gray-90-border: var(--x4-gray-90);
    --x4-gray-85-border: var(--x4-gray-85);
    --x4-gray-83-border: var(--x4-gray-83);
    --x4-gray-80-border: var(--x4-gray-80);
    --x4-gray-70-border: var(--x4-gray-70);
    --x4-gray-68-border: var(--x4-gray-68);
    --x4-gray-65-border: var(--x4-gray-65);
    --x4-gray-60-border: var(--x4-gray-60);
    --x4-gray-59-border: var(--x4-gray-59);
    --x4-gray-55-border: var(--x4-gray-55);
    --x4-gray-53-border: var(--x4-gray-53);
    --x4-gray-52-border: var(--x4-gray-52);
    --x4-gray-50-border: var(--x4-gray-50);
    --x4-gray-45-border: var(--x4-gray-45);
    --x4-gray-40-border: var(--x4-gray-40);
    --x4-gray-39-border: var(--x4-gray-39);
    --x4-gray-35-border: var(--x4-gray-35);
    --x4-gray-34-border: var(--x4-gray-34);
    --x4-gray-30-border: var(--x4-gray-30);
    --x4-gray-25-border: var(--x4-gray-25);
    --x4-gray-20-border: var(--x4-gray-20);
    --x4-gray-18-border: var(--x4-gray-18);
    --x4-gray-15-border: var(--x4-gray-15);
    --x4-gray-14-border: var(--x4-gray-14);
    --x4-gray-10-border: var(--x4-gray-10);
    --x4-gray-05-border: var(--x4-gray-05);
    --x4-gray-03-border: var(--x4-gray-03);

    /* icon */
    --x4-white-icon: var(--x4-white);
    --x4-black-icon: var(--x4-black);
    --x4-gray-100-icon: var(--x4-gray-100);
    --x4-gray-99-icon: var(--x4-gray-99);
    --x4-gray-95-icon: var(--x4-gray-95);
    --x4-gray-93-icon: var(--x4-gray-93);
    --x4-gray-90-icon: var(--x4-gray-90);
    --x4-gray-85-icon: var(--x4-gray-85);
    --x4-gray-83-icon: var(--x4-gray-83);
    --x4-gray-80-icon: var(--x4-gray-80);
    --x4-gray-70-icon: var(--x4-gray-70);
    --x4-gray-68-icon: var(--x4-gray-68);
    --x4-gray-65-icon: var(--x4-gray-65);
    --x4-gray-60-icon: var(--x4-gray-60);
    --x4-gray-59-icon: var(--x4-gray-59);
    --x4-gray-55-icon: var(--x4-gray-55);
    --x4-gray-53-icon: var(--x4-gray-53);
    --x4-gray-52-icon: var(--x4-gray-52);
    --x4-gray-50-icon: var(--x4-gray-50);
    --x4-gray-45-icon: var(--x4-gray-45);
    --x4-gray-40-icon: var(--x4-gray-40);
    --x4-gray-39-icon: var(--x4-gray-39);
    --x4-gray-35-icon: var(--x4-gray-35);
    --x4-gray-34-icon: var(--x4-gray-34);
    --x4-gray-30-icon: var(--x4-gray-30);
    --x4-gray-25-icon: var(--x4-gray-25);
    --x4-gray-20-icon: var(--x4-gray-20);
    --x4-gray-18-icon: var(--x4-gray-18);
    --x4-gray-15-icon: var(--x4-gray-15);
    --x4-gray-14-icon: var(--x4-gray-14);
    --x4-gray-10-icon: var(--x4-gray-10);
    --x4-gray-05-icon: var(--x4-gray-05);
    --x4-gray-03-icon: var(--x4-gray-03);

    /* text */
    --x4-white-text: var(--x4-white);
    --x4-black-text: var(--x4-black);
    --x4-gray-100-text: var(--x4-gray-100);
    --x4-gray-99-text: var(--x4-gray-99);
    --x4-gray-95-text: var(--x4-gray-95);
    --x4-gray-93-text: var(--x4-gray-93);
    --x4-gray-90-text: var(--x4-gray-90);
    --x4-gray-85-text: var(--x4-gray-85);
    --x4-gray-83-text: var(--x4-gray-83);
    --x4-gray-80-text: var(--x4-gray-80);
    --x4-gray-70-text: var(--x4-gray-70);
    --x4-gray-68-text: var(--x4-gray-68);
    --x4-gray-65-text: var(--x4-gray-65);
    --x4-gray-60-text: var(--x4-gray-60);
    --x4-gray-59-text: var(--x4-gray-59);
    --x4-gray-55-text: var(--x4-gray-55);
    --x4-gray-53-text: var(--x4-gray-53);
    --x4-gray-52-text: var(--x4-gray-52);
    --x4-gray-50-text: var(--x4-gray-50);
    --x4-gray-45-text: var(--x4-gray-45);
    --x4-gray-40-text: var(--x4-gray-40);
    --x4-gray-39-text: var(--x4-gray-39);
    --x4-gray-35-text: var(--x4-gray-35);
    --x4-gray-34-text: var(--x4-gray-34);
    --x4-gray-30-text: var(--x4-gray-30);
    --x4-gray-25-text: var(--x4-gray-25);
    --x4-gray-20-text: var(--x4-gray-20);
    --x4-gray-18-text: var(--x4-gray-18);
    --x4-gray-15-text: var(--x4-gray-15);
    --x4-gray-14-text: var(--x4-gray-14);
    --x4-gray-10-text: var(--x4-gray-10);
    --x4-gray-05-text: var(--x4-gray-05);
    --x4-gray-03-text: var(--x4-gray-03);
}
