.x4-ie-shadow {
    background-color: var(--x4-ie-shadow);
}
.x4-proxy-el {
    background-color: var(--x4-proxy-bg);
}
.x4-dd-drag-ghost {
    color: var(--x4-primary-text);
    border-color: var(--x4-dd-drag-border);
    background-color: var(--x4-primary-bg);
}
.x4-resizable-overlay {
    background-color: var(--x4-primary-bg);
}
.x4-body {
    color: var(--x4-primary-text);
}
.x4-focus-frame-top,
.x4-focus-frame-bottom {
    border-top-color: var(--x4-focus-frame-border);
}
.x4-focus-frame-left,
.x4-focus-frame-right {
    border-left-color: var(--x4-focus-frame-border);
}
.x4-mask {
    background-color: var(--x4-gray-39-bg);
}
.x4-mask-msg {
    border-color: transparent;
}
.x4-mask-msg-inner {
    border-color: transparent;
    color: var(--x4-gray-95-text);
}
.x4-nbr .x4-btn-default-small {
    background-color: transparent;
}
.x4-btn-default-small-disabled {
    border-color: var(--x4-gray-55-border);
    background-image: none;
    background-color: var(--x4-gray-40-bg);
}
.x4-btn-default-small-disabled .x4-btn-inner {
    color: var(--x4-gray-80-text);
}
.x4-btn-default-small-focus {
    background-image: none;
}
.x4-btn-default-small-over {
    background-image: none;
}
.x4-btn-default-small-menu-active,
.x4-btn-default-small-pressed {
    background-image: none;
}
.x4-btn-default-small-disabled .x4-frame-mc {
    background-color: var(--x4-gray-40-bg);
}
.x4-nbr .x4-btn-default-small {
    background-image: none;
}
.x4-nbr .x4-btn-default-medium {
    background-color: transparent;
}
.x4-btn-default-medium-disabled {
    border-color: var(--x4-gray-55-border);
    background-image: none;
    background-color: var(--x4-gray-40-bg);
}
.x4-btn-default-medium-disabled .x4-btn-inner {
    color: var(--x4-gray-80-text);
}
.x4-btn-default-medium-focus {
    background-image: none;
}
.x4-btn-default-medium-over {
    background-image: none;
}
.x4-btn-default-medium-menu-active,
.x4-btn-default-medium-pressed {
    background-image: none;
}
.x4-btn-default-medium-disabled .x4-frame-mc {
    background-color: var(--x4-gray-40-bg);
}
.x4-nbr .x4-btn-default-medium {
    background-image: none;
}
.x4-nbr .x4-btn-default-large {
    background-color: transparent;
}
.x4-btn-default-large-disabled {
    border-color: var(--x4-gray-55-border);
    background-image: none;
    background-color: var(--x4-gray-40-bg);
}
.x4-btn-default-large-disabled .x4-btn-inner {
    color: var(--x4-gray-80-text);
}
.x4-btn-default-large-focus {
    background-image: none;
}
.x4-btn-default-large-over {
    background-image: none;
}
.x4-btn-default-large-menu-active,
.x4-btn-default-large-pressed {
    background-image: none;
}
.x4-btn-default-large-disabled .x4-frame-mc {
    background-color: var(--x4-gray-40-bg);
}
.x4-nbr .x4-btn-default-large {
    background-image: none;
}
.x4-btn-default-toolbar-small {
    border-color: transparent;
}
.x4-nbr .x4-btn-default-toolbar-small {
    background-color: transparent;
}
.x4-btn-default-toolbar-small-disabled {
    border-color: var(--x4-gray-55-border);
    background-image: none;
    background-color: var(--x4-gray-40-bg);
}
.x4-btn-default-toolbar-small-disabled .x4-btn-inner {
    color: var(--x4-gray-80-text);
}
.x4-btn-default-toolbar-small-focus {
    background-image: none;
}
.x4-btn-default-toolbar-small-over {
    background-image: none;
}
.x4-btn-default-toolbar-small-menu-active,
.x4-btn-default-toolbar-small-pressed {
    background-image: none;
}
.x4-btn-default-toolbar-small-disabled .x4-frame-mc {
    background-color: var(--x4-gray-40-bg);
}
.x4-nbr .x4-btn-default-toolbar-small {
    background-image: none;
}
.x4-btn-default-toolbar-medium {
    border-color: transparent;
}
.x4-nbr .x4-btn-default-toolbar-medium {
    background-color: transparent;
}
.x4-btn-default-toolbar-medium-disabled {
    border-color: var(--x4-gray-55-border);
    background-image: none;
    background-color: var(--x4-gray-40-bg);
}
.x4-btn-default-toolbar-medium-disabled .x4-btn-inner {
    color: var(--x4-gray-80-text);
}
.x4-btn-default-toolbar-medium-focus {
    background-image: none;
}
.x4-btn-default-toolbar-medium-over {
    background-image: none;
}
.x4-btn-default-toolbar-medium-menu-active,
.x4-btn-default-toolbar-medium-pressed {
    background-image: none;
}
.x4-btn-default-toolbar-medium-disabled .x4-frame-mc {
    background-color: var(--x4-gray-40-bg);
}
.x4-nbr .x4-btn-default-toolbar-medium {
    background-image: none;
}
.x4-btn-default-toolbar-large {
    border-color: transparent;
}
.x4-nbr .x4-btn-default-toolbar-large {
    background-color: transparent;
}
.x4-btn-default-toolbar-large-disabled {
    border-color: var(--x4-gray-55-border);
    background-image: none;
    background-color: var(--x4-gray-40-bg);
}
.x4-btn-default-toolbar-large-disabled .x4-btn-inner {
    color: var(--x4-gray-80-text);
}
.x4-btn-default-toolbar-large-focus {
    background-image: none;
}
.x4-btn-default-toolbar-large-over {
    background-image: none;
}
.x4-btn-default-toolbar-large-menu-active,
.x4-btn-default-toolbar-large-pressed {
    background-image: none;
}
.x4-btn-default-toolbar-large-disabled .x4-frame-mc {
    background-color: var(--x4-gray-40-bg);
}
.x4-nbr .x4-btn-default-toolbar-large {
    background-image: none;
}
.x4-toolbar-text {
    color: var(--x4-gray-83-text);
}
.x4-toolbar-footer {
    background-color: transparent;
}
.x4-toolbar-default {
    background-image: none;
}
.x4-panel-body-default {
    background-color: var(--x4-primary-bg);
    color: var(--x4-primary-text);
}
.x4-panel-header-default {
    background-image: none;
}
.x4-panel-header-default-vertical {
    background-image: none;
}
.x4-panel-body-default-framed {
    color: var(--x4-primary-text);
}
.x4-nbr .x4-panel-default-framed {
    background-color: transparent;
}
.x4-panel-header-default-framed-top {
    background-image: none;
}
.x4-nbr .x4-panel-header-default-framed-top {
    background-color: transparent;
    background-image: none;
}
.x4-panel-header-default-framed-right {
    background-image: none;
}
.x4-nbr .x4-panel-header-default-framed-right {
    background-color: transparent;
    background-image: none;
}
.x4-panel-header-default-framed-bottom {
    background-image: none;
}
.x4-nbr .x4-panel-header-default-framed-bottom {
    background-color: transparent;
    background-image: none;
}
.x4-panel-header-default-framed-left {
    background-image: none;
}
.x4-nbr .x4-panel-header-default-framed-left {
    background-color: transparent;
    background-image: none;
}
.x4-panel-header-default-framed-collapsed-top {
    background-image: none;
}
.x4-nbr .x4-panel-header-default-framed-collapsed-top {
    background-color: transparent;
    background-image: none;
}
.x4-panel-header-default-framed-collapsed-right {
    background-image: none;
}
.x4-nbr .x4-panel-header-default-framed-collapsed-right {
    background-color: transparent;
    background-image: none;
}
.x4-panel-header-default-framed-collapsed-bottom {
    background-image: none;
}
.x4-nbr .x4-panel-header-default-framed-collapsed-bottom {
    background-color: transparent;
    background-image: none;
}
.x4-panel-header-default-framed-collapsed-left {
    background-image: none;
}
.x4-nbr .x4-panel-header-default-framed-collapsed-left {
    background-color: transparent;
    background-image: none;
}
.x4-tip-anchor {
    border-color: var(--x4-gray-59-border);
}
.x4-tip-anchor-top {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
.x4-tip-anchor-bottom {
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
.x4-tip-anchor-left {
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.x4-tip-anchor-right {
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.x4-tip-default {
    background-image: none;
    background-color: var(--x4-gray-10-bg);
    background-image: linear-gradient(top, #ffffff, var(--x4-gray-10-bg));
}
.x4-tip-default-mc {
    background-color: var(--x4-gray-10-bg);
}
.x4-nbr .x4-tip-default {
    background-color: transparent;
    background-image: none;
}
.x4-tip-default {
    border-color: var(--x4-gray-59-border);
}
.x4-tip-header-text-container-default {
    color: var(--x4-muted-text);
}
.x4-tip-body-default {
    color: var(--x4-muted-text);
}
.x4-tip-form-invalid {
    background-image: none;
    background-color: var(--x4-primary-bg);
    background-image: linear-gradient(top, #ffffff, var(--x4-gray-10-bg));
}
.x4-tip-form-invalid-mc {
    background-color: var(--x4-primary-bg);
}
.x4-tip-header-text-container-form-invalid {
    color: var(--x4-form-invalid-text);
}
.x4-tip-body-form-invalid {
    color: var(--x4-form-invalid-text);
}
.x4-nbr .x4-btn-group-default-framed {
    background-color: transparent;
}
.x4-nbr .x4-btn-group-default-framed-notitle {
    background-color: transparent;
}
.x4-nbr .x4-window-default {
    background-color: transparent;
}
.x4-window-body-default {
    color: var(--x4-primary-text);
}
.x4-nbr .x4-window-header-default-top {
    background-color: transparent;
}
.x4-nbr .x4-window-header-default-right {
    background-color: transparent;
}
.x4-nbr .x4-window-header-default-bottom {
    background-color: transparent;
}
.x4-nbr .x4-window-header-default-left {
    background-color: transparent;
}
.x4-nbr .x4-window-header-default-collapsed-top {
    background-color: transparent;
}
.x4-nbr .x4-window-header-default-collapsed-right {
    background-color: transparent;
}
.x4-nbr .x4-window-header-default-collapsed-bottom {
    background-color: transparent;
}
.x4-nbr .x4-window-header-default-collapsed-left {
    background-color: transparent;
}
.x4-form-item-label {
    color: var(--x4-primary-text);
}
.x4-form-field {
    color: var(--x4-primary-text);
}
.x4-form-type-text textarea.x4-form-invalid-field,
.x4-form-type-text input.x4-form-invalid-field,
.x4-form-type-password textarea.x4-form-invalid-field,
.x4-form-type-password input.x4-form-invalid-field,
.x4-form-type-number textarea.x4-form-invalid-field,
.x4-form-type-number input.x4-form-invalid-field,
.x4-form-type-email textarea.x4-form-invalid-field,
.x4-form-type-email input.x4-form-invalid-field,
.x4-form-type-search textarea.x4-form-invalid-field,
.x4-form-type-search input.x4-form-invalid-field,
.x4-form-type-tel textarea.x4-form-invalid-field,
.x4-form-type-tel input.x4-form-invalid-field {
    background-color: var(--x4-primary-bg);
}
.x4-form-text {
    color: var(--x4-primary-text);
    background-color: var(--x4-primary-bg);
    border-color: var(--x4-control-border);
}
.x4-form-empty-field,
textarea.x4-form-empty-field {
    color: var(--x4-gray);
}
.x4-form-display-field {
    color: var(--x4-primary-text);
}
.x4-form-check-group-label {
    color: var(--x4-primary-text);
}
.x4-fieldset-collapsed {
    border-left-color: transparent !important;
    border-right-color: transparent !important;
}
.x4-form-trigger {
    border-color: var(--x4-control-border);
}
.x4-trigger-cell {
    background-color: transparent;
}
div.x4-form-spinner-up,
div.x4-form-spinner-down {
    background-color: var(--x4-primary-bg);
}
.x4-boundlist {
    border-color: var(--x4-control-border);
}
.x4-datepicker {
    border-color: var(--x4-control-border);
    background-color: var(--x4-primary-bg);
}
.x4-datepicker-header {
    background-image: none;
}
.x4-datepicker-month .x4-btn,
.x4-datepicker-month .x4-btn .x4-btn-tc,
.x4-datepicker-month .x4-btn .x4-btn-tl,
.x4-datepicker-month .x4-btn .x4-btn-tr,
.x4-datepicker-month .x4-btn .x4-btn-mc,
.x4-datepicker-month .x4-btn .x4-btn-ml,
.x4-datepicker-month .x4-btn .x4-btn-mr,
.x4-datepicker-month .x4-btn .x4-btn-bc,
.x4-datepicker-month .x4-btn .x4-btn-bl,
.x4-datepicker-month .x4-btn .x4-btn-br {
    background-color: transparent;
}
.x4-datepicker-column-header {
    background-image: none;
}
.x4-datepicker-date {
    color: var(--x4-primary-text);
}
a.x4-datepicker-date:hover {
    color: var(--x4-primary-text);
}
.x4-datepicker-prevday .x4-datepicker-date,
.x4-datepicker-nextday .x4-datepicker-date {
    color: var(--x4-gray-60-text);
}
.x4-datepicker-disabled a.x4-datepicker-date {
    background-color: var(--x4-gray-15-bg);
    color: var(--x4-gray-50-text);
}
.x4-datepicker-disabled a.x4-datepicker-date:hover {
    background-color: var(--x4-gray-15-bg);
}
.x4-datepicker-footer,
.x4-monthpicker-buttons {
    background-image: none;
    background-color: var(--x4-primary-bg);
}
.x4-monthpicker {
    border-color: var(--x4-control-border);
    background-color: var(--x4-primary-bg);
}
.x4-monthpicker-months {
    border-color: var(--x4-control-border);
}
.x4-monthpicker-yearnav-button {
    background-color: var(--x4-primary-bg);
}
.x4-form-file-wrap .x4-form-text {
    color: var(--x4-gray);
}
.x4-color-picker {
    background-color: var(--x4-primary-bg);
}
.x4-color-picker-item {
    background-color: var(--x4-primary-bg);
}
.x4-html-editor-tb .x4-btn-text {
    background-color: transparent;
}
.x4-html-editor-wrap textarea {
    background-color: var(--x4-primary-bg);
}
.x4-grid-body {
    background-color: var(--x4-primary-bg);
}
.x4-grid-empty {
    color: var(--x4-gray);
    background-color: var(--x4-primary-bg);
}
.x4-grid-cell {
    color: transparent;
    background-color: var(--x4-primary-bg);
    border-color: var(--x4-control-border);
}
.x4-grid-row-alt .x4-grid-td {
    background-color: var(--x4-gray-03-bg);
}
.x4-grid-row-before-over .x4-grid-td {
    border-bottom-color: var(--x4-gray-30-border);
}
.x4-grid-row-over .x4-grid-td {
    border-bottom-color: var(--x4-gray-30-border);
}
.x4-grid-row-before-focused .x4-grid-td {
    border-bottom-color: var(--x4-gray-85-border);
}
.x4-grid-row-focused .x4-grid-td {
    background-color: var(--x4-gray-14-bg);
}
.x4-grid-row-focused .x4-grid-td {
    border-bottom-color: var(--x4-gray-85-border);
}
.x4-grid-table .x4-grid-row-focused-first .x4-grid-td {
    border-top-color: var(--x4-gray-85-border);
}
.x4-grid-row-focused .x4-grid-row-summary .x4-grid-td {
    border-bottom-color: var(--x4-gray-14-border);
}
.x4-grid-with-row-lines .x4-grid-table-over-first {
    border-top-color: var(--x4-gray-30-border);
}
.x4-grid-body .x4-grid-table-focused-first {
    border-top-color: var(--x4-gray-85-border);
}
.x4-grid-cell-special {
    border-color: var(--x4-control-border);
    background-color: var(--x4-gray-05-bg);
    background-image: linear-gradient(top, var(--x4-gray-05-bg), var(--x4-gray-18-bg));
}
.x4-grid-row-selected .x4-grid-cell-special {
    border-right-color: var(--x4-control-border) #aaccf6;
    background-image: none;
}
.x4-grid-row .x4-grid-cell-selected {
    color: transparent;
}
.x4-grid-header-ct {
    border-bottom-color: transparent;
    background-color: transparent;
    background-image: none;
    background-color: transparent;
}
.x4-grid-body {
    border-top-color: var(--x4-gray-45-border);
}
.x4-column-header {
    border-right-color: var(--x4-gray-45-border);
    color: var(--x4-primary-text);
    background-image: none;
}
.x4-group-sub-header {
    border-top-color: var(--x4-gray-45-border);
}
.x4-column-header-over,
.x4-column-header-sort-ASC,
.x4-column-header-sort-DESC {
    background-image: none;
}
.x4-column-header-open {
    background-color: transparent;
}
.x4-column-header-open .x4-column-header-trigger {
    background-color: transparent;
}
.x4-column-header-trigger {
    background-color: transparent;
}
.x4-grid-group-hd {
    background-color: var(--x4-primary-bg);
}
.x4-grid-rowwrap {
    border-color: var(--x4-control-border);
}
.x4-grid-row-summary .x4-grid-cell,
.x4-grid-row-summary .x4-grid-rowwrap,
.x4-grid-row-summary .x4-grid-cell-rowbody {
    border-color: var(--x4-control-border);
    background-color: transparent !important;
}
.x4-nbr .x4-grid-row-editor-buttons-default-bottom {
    background-color: transparent;
}
.x4-nbr .x4-grid-row-editor-buttons-default-top {
    background-color: transparent;
}
.x4-accordion-layout-ct {
    background-color: var(--x4-primary-bg);
}
.x4-accordion-hd .x4-panel-header-text-container {
    color: var(--x4-primary-text);
}
.x4-splitter-active {
    background-color: var(--x4-gray-52-bg);
}
.x4-menu-icon-separator {
    border-left-color: var(--x4-gray-25-border);
    background-color: var(--x4-primary-bg);
}
.x4-menu-item-active {
    background-image: none;
}
.x4-menu-item-glyph {
    color: var(--x4-control-text);
}
.x4-menu-item-text {
    color: var(--x4-control-text);
}
.x4-menu-item-unchecked .x4-menu-group-icon {
    background-image: none;
}
.x4-menu-item-separator {
    border-top-color: var(--x4-gray-25-border);
    background-color: var(--x4-primary-bg);
}
.x4-ie .x4-menu-item-disabled .x4-menu-item-text {
    background-color: transparent;
}
.x4-menu-item .x4-form-item-label {
    color: var(--x4-control-text);
}
.x4-resizable-handle {
    background-color: var(--x4-primary-bg);
}
.x4-tab-default-top {
    background-image: none;
}
.x4-nbr .x4-tab-default-top {
    background-color: transparent;
    background-image: none;
}
.x4-tab-default-bottom {
    background-image: none;
}
.x4-nbr .x4-tab-default-bottom {
    background-color: transparent;
    background-image: none;
}
.x4-tab-default-left {
    background-image: none;
}
.x4-nbr .x4-tab-default-left {
    background-color: transparent;
    background-image: none;
}
.x4-tab-default-right {
    background-image: none;
}
.x4-nbr .x4-tab-default-right {
    background-color: transparent;
    background-image: none;
}
.x4-tab-default-top,
.x4-tab-default-left,
.x4-tab-default-right {
    background-image: none;
}
.x4-tab-default-bottom {
    background-image: none;
}
.x4-tab-default-top-over,
.x4-tab-default-left-over,
.x4-tab-default-right-over {
    background-image: none;
}
.x4-tab-default-bottom-over {
    background-image: none;
}
.x4-tab-default-top-active,
.x4-tab-default-left-active,
.x4-tab-default-right-active {
    background-image: none;
}
.x4-tab-default-bottom-active {
    background-image: none;
}
.x4-tab-default-top-disabled,
.x4-tab-default-left-disabled,
.x4-tab-default-right-disabled {
    background-image: none;
}
.x4-tab-default-bottom-disabled {
    background-image: none;
}
.x4-nbr .x4-tab-default {
    background-image: none;
}
.x4-tab-bar-default-top {
    background-image: none;
}
.x4-tab-bar-default-bottom {
    background-image: none;
}
.x4-tab-bar-default-left {
    background-image: none;
}
.x4-tab-bar-default-right {
    background-image: none;
}
.x4-column-header-checkbox {
    border-color: transparent;
}
.x4-box-tl {
    background-color: transparent;
}
.x4-box-tc {
    background-color: transparent;
}
.x4-box-tr {
    background-color: transparent;
}
.x4-box-ml {
    background-color: transparent;
}
.x4-box-mr {
    background-color: transparent;
}
.x4-box-bl {
    background-color: transparent;
}
.x4-box-bc {
    background-color: transparent;
}
.x4-box-br {
    background-color: transparent;
}
.x4-box-mc {
    background-color: var(--x4-gray-15-bg);
    color: var(--x4-gray-93-text);
}
.x4-html-editor-wrap .x4-toolbar {
    border-left-color: var(--x4-control-border);
    border-top-color: var(--x4-control-border);
    border-right-color: var(--x4-control-border);
}
.x4-html-editor-input {
    border-color: var(--x4-control-border);
}
.x4-column-header-trigger {
    background-color: transparent;
}
.add-new .x4-btn.rly-collapse {
    background-color: transparent;
}
.app-menu {
    color: var(--x4-silver);
}
.app-menu:hover {
    color: var(--x4-muted-text);
}
.app-settings {
    background-color: var(--x4-muted-bg);
}
.app-settings .x4-panel-body-default {
    background-color: var(--x4-muted-bg);
    color: var(--x4-muted-text);
}
.app-settings .settings-title {
    color: var(--x4-gray-100-text);
}
div.banner {
    color: var(--x4-muted-text);
}
.x4-boundlist {
    background-color: var(--x4-primary-bg);
}
.x4-boundlist .x4-boundlist-item {
    background-color: var(--x4-primary-bg);
    border-left-color: var(--x4-gray-35-border);
    border-right-color: var(--x4-gray-35-border);
    color: var(--x4-muted-text);
}
.x4-boundlist .x4-boundlist-item.x4-boundlist-selected {
    background-color: var(--x4-primary-bg);
    border-color: var(--x4-gray-35-border);
    color: var(--x4-control-text);
}
.x4-boundlist .x4-boundlist-item.rui-multi-object-picker.rui-multi-object-picker-disabled {
    color: var(--x4-gray-70-text);
}
.x4-boundlist .x4-boundlist-item.rui-multi-object-picker.rui-multi-object-picker-disabled.x4-boundlist-item-over {
    background-color: var(--x4-primary-bg);
    border-color: var(--x4-gray-35-border);
}
.x4-boundlist .x4-boundlist-item.rui-multi-object-picker.x4-boundlist-selected {
    background-color: var(--x4-primary-bg);
}
.x4-boundlist .rally-group-header {
    color: var(--x4-gray-80-text);
}
.x4-boundlist.x4-boundlist-floating .x4-boundlist-item.x4-boundlist-selected {
    background-color: var(--x4-muted-bg);
}
.x4-btn-link-small {
    background-color: transparent;
}
.x4-btn-link-small-mc {
    background-color: transparent;
}
.x4-nbr .x4-btn-link-small {
    background-color: transparent;
}
.x4-btn-link-small-disabled {
    border-color: var(--x4-gray-55-border);
    background-image: none;
    background-color: transparent;
}
.x4-btn-link-small-disabled .x4-btn-inner {
    color: var(--x4-gray-80-text);
}
.x4-btn-link-small-focus {
    background-image: none;
    background-color: transparent;
}
.x4-btn-link-small-over {
    background-image: none;
    background-color: transparent;
}
.x4-btn-link-small-menu-active,
.x4-btn-link-small-pressed {
    background-image: none;
    background-color: transparent;
}
.x4-btn-link-small-focus .x4-frame-mc {
    background-color: transparent;
}
.x4-btn-link-small-over .x4-frame-mc {
    background-color: transparent;
}
.x4-btn-link-small-menu-active .x4-frame-mc,
.x4-btn-link-small-pressed .x4-frame-mc {
    background-color: transparent;
}
.x4-btn-link-small-disabled .x4-frame-mc {
    background-color: transparent;
}
.x4-nbr .x4-btn-link-small {
    background-image: none;
}
.x4-btn-default-toolbar-small-disabled {
    background-image: none;
    background-color: var(--x4-gray-40-bg);
}
.x4-btn .x4-btn-button {
    border-color: transparent !important;
}
.x4-btn-focus .x4-btn-button {
    border-color: var(--x4-gray-25-border) !important;
}
.x4-ie7m .x4-btn-focus .x4-btn-mc {
    border-color: var(--x4-gray-25-border);
}
.x4-ie7m .x4-btn-icon {
    border-color: transparent;
}
.x4-ie7m .x4-btn-focus .x4-btn-icon {
    border-color: var(--x4-gray-25-border);
}
.x4-btn.toggle {
    border-color: var(--x4-gray-35-border);
    background-color: var(--x4-primary-bg);
}
.x4-btn.toggle.center {
    border-top-color: var(--x4-gray-35-border);
    border-bottom-color: var(--x4-gray-35-border);
}
.x4-btn.secondary.control.button {
    background-color: transparent;
}
.x4-btn.tertiary.controls.button {
    background-color: transparent;
}
.x4-btn.tertiary.controls.button span {
    color: var(--x4-gray-35-text);
}
.x4-btn.primary.highlight,
.x4-btn.primary.highlight tr td,
.x4-btn.secondary.highlight,
.x4-btn.secondary.highlight tr td,
.x4-btn.tertiary.highlight,
.x4-btn.tertiary.highlight tr td,
.x4-btn.highlight.highlight,
.x4-btn.highlight.highlight tr td {
    background-image: none;
}
.x4-btn.primary.highlight span,
.x4-btn.primary.highlight tr td span,
.x4-btn.secondary.highlight span,
.x4-btn.secondary.highlight tr td span,
.x4-btn.tertiary.highlight span,
.x4-btn.tertiary.highlight tr td span,
.x4-btn.highlight.highlight span,
.x4-btn.highlight.highlight tr td span {
    color: var(--x4-muted-text);
}
.x4-btn.primary.highlight:hover span,
.x4-btn.primary.highlight:hover tr td span,
.x4-btn.primary.highlight tr td:hover span,
.x4-btn.primary.highlight tr td:hover tr td span,
.x4-btn.secondary.highlight:hover span,
.x4-btn.secondary.highlight:hover tr td span,
.x4-btn.secondary.highlight tr td:hover span,
.x4-btn.secondary.highlight tr td:hover tr td span,
.x4-btn.tertiary.highlight:hover span,
.x4-btn.tertiary.highlight:hover tr td span,
.x4-btn.tertiary.highlight tr td:hover span,
.x4-btn.tertiary.highlight tr td:hover tr td span,
.x4-btn.highlight.highlight:hover span,
.x4-btn.highlight.highlight:hover tr td span,
.x4-btn.highlight.highlight tr td:hover span,
.x4-btn.highlight.highlight tr td:hover tr td span {
    color: var(--x4-muted-text);
}
.x4-btn.primary.secondary,
.x4-btn.primary.secondary tr td,
.x4-btn.secondary.secondary,
.x4-btn.secondary.secondary tr td,
.x4-btn.tertiary.secondary,
.x4-btn.tertiary.secondary tr td,
.x4-btn.highlight.secondary,
.x4-btn.highlight.secondary tr td {
    background-image: none;
    background-color: var(--x4-primary-bg);
    border-color: var(--x4-gray-35-border);
}
.x4-btn.primary.secondary.dark,
.x4-btn.primary.secondary.dark tr td,
.x4-btn.secondary.secondary.dark,
.x4-btn.secondary.secondary.dark tr td,
.x4-btn.tertiary.secondary.dark,
.x4-btn.tertiary.secondary.dark tr td,
.x4-btn.highlight.secondary.dark,
.x4-btn.highlight.secondary.dark tr td {
    background-color: var(--x4-gray-80-bg);
    border-color: var(--x4-gray-80-border);
}
.x4-btn.primary.primary,
.x4-btn.primary.primary tr td,
.x4-btn.secondary.primary,
.x4-btn.secondary.primary tr td,
.x4-btn.tertiary.primary,
.x4-btn.tertiary.primary tr td,
.x4-btn.highlight.primary,
.x4-btn.highlight.primary tr td {
    background-image: none;
}
.x4-btn.primary.x4-item-disabled,
.x4-btn.primary.x4-item-disabled tr td,
.x4-btn.secondary.x4-item-disabled,
.x4-btn.secondary.x4-item-disabled tr td,
.x4-btn.tertiary.x4-item-disabled,
.x4-btn.tertiary.x4-item-disabled tr td,
.x4-btn.highlight.x4-item-disabled,
.x4-btn.highlight.x4-item-disabled tr td,
.x4-btn.toggle.x4-item-disabled,
.x4-btn.toggle.x4-item-disabled tr td {
    background-color: var(--x4-gray-35-bg);
    border-color: var(--x4-gray-35-border);
}
.x4-btn.primary.x4-item-disabled:hover,
.x4-btn.primary.x4-item-disabled:hover tr td,
.x4-btn.primary.x4-item-disabled tr td:hover,
.x4-btn.primary.x4-item-disabled tr td:hover tr td,
.x4-btn.secondary.x4-item-disabled:hover,
.x4-btn.secondary.x4-item-disabled:hover tr td,
.x4-btn.secondary.x4-item-disabled tr td:hover,
.x4-btn.secondary.x4-item-disabled tr td:hover tr td,
.x4-btn.tertiary.x4-item-disabled:hover,
.x4-btn.tertiary.x4-item-disabled:hover tr td,
.x4-btn.tertiary.x4-item-disabled tr td:hover,
.x4-btn.tertiary.x4-item-disabled tr td:hover tr td,
.x4-btn.highlight.x4-item-disabled:hover,
.x4-btn.highlight.x4-item-disabled:hover tr td,
.x4-btn.highlight.x4-item-disabled tr td:hover,
.x4-btn.highlight.x4-item-disabled tr td:hover tr td,
.x4-btn.toggle.x4-item-disabled:hover,
.x4-btn.toggle.x4-item-disabled:hover tr td,
.x4-btn.toggle.x4-item-disabled tr td:hover,
.x4-btn.toggle.x4-item-disabled tr td:hover tr td {
    background-color: var(--x4-gray-35-bg);
    border-color: var(--x4-gray-35-border);
}
.x4-btn .button-beta-badge {
    color: var(--x4-control-text);
}
.dark-container .x4-btn.secondary span {
    color: var(--x4-gray-35-text);
}
.dark-container .x4-btn.secondary:hover {
    background-color: var(--x4-gray-99-bg);
    border-color: var(--x4-gray-99-border);
}
.dark-container .x4-btn.secondary:hover span {
    color: var(--x4-gray-20-text);
}
.dark-container .x4-btn.x4-item-disabled,
.dark-container .x4-btn.x4-item-disabled:hover {
    background-color: var(--x4-gray-80-bg);
    border-color: var(--x4-gray-80-border);
}
.dark-container .x4-btn.x4-item-disabled span,
.dark-container .x4-btn.x4-item-disabled:hover span {
    color: var(--x4-muted-text);
}
.rui-card {
    box-shadow: var(--x4-gray-35-bg) 2px 2px;
    background-color: var(--x4-primary-bg);
}
.rui-card .artifact-color {
    background-color: var(--x4-gray-65-bg);
}
.rui-card .card-table-ct {
    border-color: var(--x4-gray-65-border);
}
.cardboard .x4-dd-drag-ghost .rui-card {
    box-shadow: var(--x4-gray-40-bg) 0 0;
}
.cardboard .column-container th.card-column {
    border-bottom-color: var(--x4-gray-70-border);
}
.cardboard .column-container td.card-column {
    background-color: var(--x4-gray-05-bg);
    border-bottom-color: var(--x4-gray-70-border);
}
.cardboard .column-container .card-column {
    border-left-color: var(--x4-gray-70-border);
}
.cardboard .column-container .card-column:first-child {
    border-left-color: transparent;
}
.cardboard .column-container .card-column:last-child {
    border-right-color: transparent;
}
.cardboard .column-container .card-column.dnd-over {
    background-color: var(--x4-gray-05-bg);
}
.cardboard .column-container .card-column.dnd-over.no-drop,
.cardboard .column-container .card-column.dnd-over.over-capacity {
    background-color: var(--x4-gray-05-bg);
}
.cardboard .column-container .column-header {
    color: var(--x4-gray-95-text);
}
.cardboard .column-container .column-header .editableField {
    border-color: transparent;
}
.cardboard .column-container .column-header .editableField:hover {
    border-color: var(--x4-gray-25-border);
    background-color: var(--x4-primary-bg);
}
.cardboard .column-container .column-header .column-card-count {
    color: var(--x4-gray-70-text);
}
.cardboard .column-container .column-header .policy {
    background-color: var(--x4-primary-bg);
    color: var(--x4-gray-70-text);
    border-top-color: var(--x4-gray-70-border);
}
.cardboard .column-container .row-header .row-header-cell {
    border-bottom-color: var(--x4-gray-70-border);
}
.cardboard .column-container .row-header .row-header-cell .row-header-title {
    color: var(--x4-gray-95-text);
}
.cardboard .column-container .row-header:hover .expand-collapse {
    color: var(--x4-muted-text);
}
.cardboard .column-container .row-header .expand-collapse {
    background-color: var(--x4-primary-bg);
    color: var(--x4-silver);
}
.cardboard .card-column .column-content .rally-drop-indicator {
    background-color: var(--x4-gray-35-bg);
}
.boardprint .column {
    border-bottom-color: var(--x4-gray-70-border);
}
.boardprint th,
.boardprint td {
    border-right-color: var(--x4-gray-70-border);
}
.rally-blocked-reason-content .rally-blocked-reason-template,
.rally-blocked-reason-content .editor-container,
.rally-blocked-reason-content-popover .rally-blocked-reason-template,
.rally-blocked-reason-content-popover .editor-container {
    color: var(--x4-primary-text);
    border-color: transparent;
}
.rally-blocked-reason-content .rally-blocked-reason-template:hover,
.rally-blocked-reason-content .editor-container:hover,
.rally-blocked-reason-content-popover .rally-blocked-reason-template:hover,
.rally-blocked-reason-content-popover .editor-container:hover {
    background-color: var(--x4-primary-bg);
    color: var(--x4-primary-text);
}
.rally-blocked-reason-content .empty,
.rally-blocked-reason-content-popover .empty {
    color: var(--x4-gray-70-text);
}
.rally-blocked-reason-content.required div:hover,
.rally-blocked-reason-content-popover.required div:hover {
    border-color: transparent;
}
.rally-blocked-reason-content {
    background-color: var(--x4-muted-bg);
}
.rally-blocked-reason-content-popover .rally-blocked-reason-template {
    background-color: var(--x4-primary-bg);
}
.rui-card .rui-card-content .status-content > .status-field {
    color: var(--x4-control-text);
    background-color: var(--x4-muted-bg);
    border-color: var(--x4-muted-bg);
}
.rui-card .rui-card-content .status-content > .status-field.Discussion {
    background-color: transparent;
}
.rui-card .rui-card-content .status-content > .status-field .status-value.tasks .icon-to-do {
    color: var(--x4-gray-70-icon);
}
.rui-card .rui-card-content .userstories-template {
    background-color: var(--x4-muted-bg);
}
.rui-card .rui-card-content .userstories-template .icon-story {
    color: var(--x4-gray-70-icon);
}
.rui-card .rui-card-content .dependencies-template {
    background-color: var(--x4-muted-bg);
}
.rui-card .rui-card-content .dependencies-template .icon-predecessor {
    color: var(--x4-control-text);
}
.rui-card .field-content {
    background-color: transparent;
}
.rui-card .field-content .rui-field-label {
    color: var(--x4-gray-80-text);
}
.rui-card .field-content .rui-field-value {
    color: var(--x4-gray-95-text);
}
.rui-card .field-content.ScheduleState.editable:hover .rui-field-value {
    border-color: transparent;
}
.rui-card .field-content.editable .rui-field-label,
.rui-card .field-content.editable .rui-field-value {
    border-color: transparent;
}
.rui-card .field-content.editable:hover .rui-field-value {
    border-color: var(--x4-gray-25-border);
    background-color: var(--x4-primary-bg);
}
.rui-card .field-content.rally-invalid-card-field .rui-field-value {
    background-color: var(--x4-primary-bg);
}
.rui-card .rui-card-right-side .card-estimate-field .field-content.editable .rui-field-value {
    border-color: transparent;
    color: var(--x4-control-text);
}
.rui-card .rui-card-right-side .card-estimate-field .field-content.editable .rui-field-value.no-estimate {
    color: var(--x4-control-text);
}
.rui-card .rui-card-right-side .card-estimate-field .field-content.editable:hover {
    border-color: var(--x4-gray-25-border);
    background-color: var(--x4-primary-bg);
}
.rally-card-icons-ct .rally-card-icon {
    background-color: var(--x4-gray-65-bg);
    color: var(--x4-control-text);
}
