:root {
    /* LIGHT: 100=dark, 0=light */
    --x4-gray-103: #0c0c0c;
    --x4-gray-100: #101010;
    --x4-gray-95: #1a1a1a;
    --x4-gray-93: #1d1d1d;
    --x4-gray-90: #242424;
    --x4-gray-85: #252525;
    --x4-gray-83: #282828;
    --x4-gray-80: #363636;
    --x4-gray-78: #393939;
    --x4-gray-75: #474747;
    --x4-gray-70: #4d4d4d;
    --x4-gray-68: #555555;
    --x4-gray-65: #6a6a6a;
    --x4-gray-60: #737373;
    --x4-gray-59: #767676;
    --x4-gray-55: #838383;
    --x4-gray-53: #8a8a8a;
    --x4-gray-52: #8d8d8d;
    --x4-gray-50: #979797;
    --x4-gray-45: #a0a0a0;
    --x4-gray-40: #a1a1a1;
    --x4-gray-39: #a8a8a8;
    --x4-gray-38: #afafaf;
    --x4-gray-35: #b5b5b5;
    --x4-gray-34: #b8b8b8;
    --x4-gray-30: #c2c2c2;
    --x4-gray-25: #c6c6c6;
    --x4-gray-20: #cdcdcd;
    --x4-gray-18: #d5d5d5;
    --x4-gray-15: #e1e1e1;
    --x4-gray-14: #e5e5e5;
    --x4-gray-10: #f1f1f1;
    --x4-gray-05: #f5f5f5;
    --x4-gray-03: #f9f9f9;

    --x4-silver: silver;

    /* ExtJS name equivalents */
    --x4-ie-shadow: #777777;

    --x4-bg: var(--main-bg);
    --x4-text: var(--main-text);

    --x4-secondary-text: var(--x4-gray-100);

    --x4-muted-bg: var(--x4-gray-20);
    --x4-muted-text: var(--x4-gray-90);

    --x4-control-border: var(--x4-gray-40);
    --x4-control-text: var(--x4-gray-100);

    --x4-dd-drag-border: var(--main-border) var(--main-shadow) var(--main-shadow) var(--main-border);

    --x4-form-invalid-text: var(--x4-muted-text);

    /* FIXME */
    --x4-proxy-bg: #b4b4b4;
    --x4-focus-frame-border: #15428b;
}
