:root {
    --mnrl-zIndex-1600: 1600;
    --mnrl-zIndex-800: 800;
    --mnrl-zIndex-400: 400;
    --mnrl-zIndex-200: 200;
    --mnrl-zIndex-100: 100;
    --mnrl-space-xxl: 64px;
    --mnrl-space-xl: 32px;
    --mnrl-space-lg: 24px;
    --mnrl-space-md: 16px;
    --mnrl-space-sm: 8px;
    --mnrl-space-xs: 4px;
    --mnrl-space-xxs: 2px;
    --mnrl-size-jumbo: 52px;
    --mnrl-size-large: 40px;
    --mnrl-size-medium: 32px;
    --mnrl-size-small: 24px;
    --mnrl-yellow-100: #454208;
    --mnrl-yellow-80: #6e6800;
    --mnrl-yellow-60: #9e9600;
    --mnrl-yellow-40: #ccc314;
    --mnrl-yellow-20: #edea85;
    --mnrl-tealGreen-100: #084a44;
    --mnrl-tealGreen-80: #0d736a;
    --mnrl-tealGreen-60: #188f85;
    --mnrl-tealGreen-40: #44c7bc;
    --mnrl-tealGreen-20: #daf2f0;
    --mnrl-taupe-100: #42403c;
    --mnrl-taupe-80: #6e665b;
    --mnrl-taupe-60: #968c7b;
    --mnrl-taupe-40: #c9beab;
    --mnrl-taupe-20: #ede6da;
    --mnrl-steelBlue-100: #214352;
    --mnrl-steelBlue-80: #316a82;
    --mnrl-steelBlue-60: #4288a6;
    --mnrl-steelBlue-40: #80bed9;
    --mnrl-steelBlue-20: #d5ebf5;
    --mnrl-red-100: #78180d;
    --mnrl-red-80: #ba2d1e;
    --mnrl-red-60: #e65d4e;
    --mnrl-red-40: #f59a90;
    --mnrl-red-20: #fadfdc;
    --mnrl-purple-100: #572d75;
    --mnrl-purple-80: #864cb0;
    --mnrl-purple-60: #ad77d4;
    --mnrl-purple-40: #cca5e8;
    --mnrl-purple-20: #efe1f7;
    --mnrl-pink-100: #7a142f;
    --mnrl-pink-80: #bd284f;
    --mnrl-pink-60: #e65c81;
    --mnrl-pink-40: #f797b1;
    --mnrl-pink-20: #fcdee6;
    --mnrl-orange-100: #593e0e;
    --mnrl-orange-80: #8c5b06;
    --mnrl-orange-60: #cc8304;
    --mnrl-orange-40: #f7b440;
    --mnrl-orange-20: #fce2b3;
    --mnrl-navy-100: #303c78;
    --mnrl-navy-80: #4a5aa8;
    --mnrl-navy-60: #6d7cc9;
    --mnrl-navy-40: #a8b2e6;
    --mnrl-navy-20: #e1e5f5;
    --mnrl-magenta-100: #69215e;
    --mnrl-magenta-80: #a63895;
    --mnrl-magenta-60: #cf61bf;
    --mnrl-magenta-40: #e899dc;
    --mnrl-magenta-20: #f5dff1;
    --mnrl-green-100: #19470a;
    --mnrl-green-80: #29750f;
    --mnrl-green-60: #3f9e20;
    --mnrl-green-40: #6bc84c;
    --mnrl-green-20: #d2f0c7;
    --mnrl-slate-100: #1d2830;
    --mnrl-slate-90: #243947;
    --mnrl-slate-80: #2d4d63;
    --mnrl-slate-70: #376180;
    --mnrl-slate-60: #48799c;
    --mnrl-slate-50: #5e95bd;
    --mnrl-slate-40: #84b7db;
    --mnrl-slate-30: #a7ceeb;
    --mnrl-slate-20: #cbe3f5;
    --mnrl-slate-10: #edf4f7;
    --mnrl-skyBlue-100: #0c2938;
    --mnrl-skyBlue-90: #093952;
    --mnrl-skyBlue-80: #064d70;
    --mnrl-skyBlue-70: #066391;
    --mnrl-skyBlue-60: #0c7bb3;
    --mnrl-skyBlue-50: #229ad6;
    --mnrl-skyBlue-40: #53baed;
    --mnrl-skyBlue-30: #8dd4f7;
    --mnrl-skyBlue-20: #bbe5fa;
    --mnrl-skyBlue-10: #e8f4fa;
    --mnrl-lavender-100: #371c52;
    --mnrl-lavender-90: #4b2175;
    --mnrl-lavender-80: #642b9e;
    --mnrl-lavender-70: #7d3cbd;
    --mnrl-lavender-60: #9656d6;
    --mnrl-lavender-50: #ae74e8;
    --mnrl-lavender-40: #c79bf2;
    --mnrl-lavender-30: #dabcf7;
    --mnrl-lavender-20: #ead9fa;
    --mnrl-lavender-10: #f5f0fa;
    --mnrl-fuschia-100: #421527;
    --mnrl-fuschia-90: #611535;
    --mnrl-fuschia-80: #8a1244;
    --mnrl-fuschia-70: #b01355;
    --mnrl-fuschia-60: #d6246e;
    --mnrl-fuschia-50: #ed5393;
    --mnrl-fuschia-40: #f78bb8;
    --mnrl-fuschia-30: #fab4d1;
    --mnrl-fuschia-20: #fad4e4;
    --mnrl-fuschia-10: #faf0f4;
    --mnrl-indigo-100: #202057;
    --mnrl-indigo-90: #28288a;
    --mnrl-indigo-80: #3737b3;
    --mnrl-indigo-70: #4d4dd1;
    --mnrl-indigo-60: #6767e6;
    --mnrl-indigo-50: #8585f2;
    --mnrl-indigo-40: #a7a7fa;
    --mnrl-indigo-30: #c2c2fc;
    --mnrl-indigo-20: #dcdcfc;
    --mnrl-indigo-10: #f2f2fc;
    --mnrl-dusk-100: #282436;
    --mnrl-dusk-90: #3a3154;
    --mnrl-dusk-80: #4f4178;
    --mnrl-dusk-70: #645396;
    --mnrl-dusk-60: #7a68b3;
    --mnrl-dusk-50: #9886cf;
    --mnrl-dusk-40: #b5a6e3;
    --mnrl-dusk-30: #cec2f0;
    --mnrl-dusk-20: #e3dcf7;
    --mnrl-dusk-10: #f4f2f7;
    --mnrl-aquaGreen-100: #092b29;
    --mnrl-aquaGreen-90: #0b3d3a;
    --mnrl-aquaGreen-80: #0d524d;
    --mnrl-aquaGreen-70: #116963;
    --mnrl-aquaGreen-60: #17827b;
    --mnrl-aquaGreen-50: #28a199;
    --mnrl-aquaGreen-40: #45bfb7;
    --mnrl-aquaGreen-30: #6cd9d2;
    --mnrl-aquaGreen-20: #a8ede9;
    --mnrl-aquaGreen-10: #e4f7f6;
    --mnrl-dangerRed-100: #451717;
    --mnrl-dangerRed-90: #661414;
    --mnrl-dangerRed-80: #8f0e0e;
    --mnrl-dangerRed-70: #b80d0d;
    --mnrl-dangerRed-60: #de1b1b;
    --mnrl-dangerRed-50: #080707;
    --mnrl-dangerRed-40: #fa8e8e;
    --mnrl-dangerRed-30: #fab6b6;
    --mnrl-dangerRed-20: #fad4d4;
    --mnrl-dangerRed-10: #faf0f0;
    --mnrl-cautionOrange-100: #4d270f;
    --mnrl-cautionOrange-90: #803a0b;
    --mnrl-cautionOrange-80: #b34b05;
    --mnrl-cautionOrange-70: #e6630b;
    --mnrl-cautionOrange-60: #f57118;
    --mnrl-cautionOrange-50: #f78f4a;
    --mnrl-cautionOrange-40: #ffb380;
    --mnrl-cautionOrange-30: #ffd1b3;
    --mnrl-cautionOrange-20: #ffe0cc;
    --mnrl-cautionOrange-10: #fff0e6;
    --mnrl-attentionYellow-100: #4a3c0f;
    --mnrl-attentionYellow-90: #7a610c;
    --mnrl-attentionYellow-80: #ab8507;
    --mnrl-attentionYellow-70: #dcab09;
    --mnrl-attentionYellow-60: #f6c41a;
    --mnrl-attentionYellow-50: #f7cd3b;
    --mnrl-attentionYellow-40: #f9d86c;
    --mnrl-attentionYellow-30: #fbe59d;
    --mnrl-attentionYellow-20: #fdf2ce;
    --mnrl-attentionYellow-10: #fef9e7;
    --mnrl-successGreen-100: #112b1b;
    --mnrl-successGreen-90: #153d25;
    --mnrl-successGreen-80: #1a5230;
    --mnrl-successGreen-70: #20693d;
    --mnrl-successGreen-60: #2a854e;
    --mnrl-successGreen-50: #3ba164;
    --mnrl-successGreen-40: #57c282;
    --mnrl-successGreen-30: #7ddba3;
    --mnrl-successGreen-20: #abedc5;
    --mnrl-successGreen-10: #e1faeb;
    /* gray: is reversed */
    --mnrl-gray-10: #333840;
    --mnrl-gray-20: #434a54;
    --mnrl-gray-30: #58606e;
    --mnrl-gray-40: #707a8a;
    --mnrl-gray-50: #8e99ab;
    --mnrl-gray-60: #afbacc;
    --mnrl-gray-70: #c8d1e0;
    --mnrl-gray-80: #dde3ed;
    --mnrl-gray-90: #ebeff5;
    --mnrl-gray-100: #f5f7fa;
    --mnrl-mineralBlue-100: #15233b;
    --mnrl-mineralBlue-90: #103570;
    --mnrl-mineralBlue-80: #114599;
    --mnrl-mineralBlue-70: #1d5bbf;
    --mnrl-mineralBlue-60: #3272d9;
    --mnrl-mineralBlue-50: #5691f0;
    --mnrl-mineralBlue-40: #84b1fa;
    --mnrl-mineralBlue-30: #accbfc;
    --mnrl-mineralBlue-20: #cfe0fc;
    --mnrl-mineralBlue-10: #f0f5fc;
    --mnrl-white: #ffffff;
    --mnrl-black: #1d1f24;
    --mnrl-lineHeight-prose: 1.5;
    --mnrl-lineHeight-heading_small: 1.5;
    --mnrl-lineHeight-heading: 1.25;
    --mnrl-lineHeight: 1.25;
    --mnrl-fontWeight-extraBold: 800;
    --mnrl-fontWeight-bold: 700;
    --mnrl-fontWeight-semiBold: 600;
    --mnrl-fontWeight-regular: 400;
    --mnrl-fontSize-ui: 0.875rem;
    --mnrl-fontSize-mouse: 0.6875rem;
    --mnrl-fontSize-base: 1rem;
    --mnrl-fontFamily-monospace: "SF Mono", "Droid Sans Mono", "Source Code Pro", Monaco, Consolas, "Courier New", Courier, monospace;
    --mnrl-fontFamily-system: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --mnrl-fontFamily: "Open Sans";
    --mnrl-breakpoint-wide: 1024px;
    --mnrl-breakpoint-medium: 768px;
    --mnrl-breakpoint-narrow: 512px;
    --mnrl-boxShadow-5: 0 16px 24px 0 rgba(0, 0, 0, 0.2), 0 32px 24px -16px rgba(0, 0, 0, 0.2);
    --mnrl-boxShadow-4: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 20px 16px -8px rgba(0, 0, 0, 0.2);
    --mnrl-boxShadow-3: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    --mnrl-boxShadow-2: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    --mnrl-boxShadow-1: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    --mnrl-borderRadius-1: 3px;
    --mnrl-h6-fontWeight: 400;
    --mnrl-h5-fontWeight: 700;
    --mnrl-h4-fontWeight: 700;
    --mnrl-h4-fontSize: 1.125rem;
    --mnrl-h3-fontWeight: 700;
    --mnrl-h3-fontSize: 1.375rem;
    --mnrl-h2-fontWeight: 700;
    --mnrl-h2-fontSize: 1.75rem;
    --mnrl-h1-fontWeight: 700;
    --mnrl-h1-fontSize: 2.125rem;
    --mnrl-brand-100: var(--mnrl-mineralBlue-100);
    --mnrl-brand-90: var(--mnrl-mineralBlue-90);
    --mnrl-brand-80: var(--mnrl-mineralBlue-80);
    --mnrl-brand-70: var(--mnrl-mineralBlue-70);
    --mnrl-brand-60: var(--mnrl-mineralBlue-60);
    --mnrl-brand-50: var(--mnrl-mineralBlue-50);
    --mnrl-brand-40: var(--mnrl-mineralBlue-40);
    --mnrl-brand-30: var(--mnrl-mineralBlue-30);
    --mnrl-brand-20: var(--mnrl-mineralBlue-20);
    --mnrl-brand-10: var(--mnrl-mineralBlue-10);
    --mnrl-fontSize-prose: var(--mnrl-fontSize-base);
    --mnrl-well-borderColor-warning: var(--mnrl-attentionYellow-40);
    --mnrl-well-borderColor-success: var(--mnrl-successGreen-40);
    --mnrl-well-borderColor-danger: var(--mnrl-dangerRed-40);
    --mnrl-well-backgroundColor-warning: var(--mnrl-attentionYellow-20);
    --mnrl-well-backgroundColor-success: var(--mnrl-successGreen-20);
    --mnrl-well-backgroundColor-danger: var(--mnrl-dangerRed-20);
    --mnrl-well-backgroundColor: var(--mnrl-gray-20);
    --mnrl-panel-borderColor-inverted: var(--mnrl-gray-90);
    --mnrl-panel-borderColor: var(--mnrl-gray-20);
    --mnrl-panel-backgroundColor-inverted: var(--mnrl-gray-90);
    --mnrl-panel-backgroundColor: var(--mnrl-white);
    --mnrl-input-color-placeholder: var(--mnrl-gray-60);
    --mnrl-input-backgroundColor-disabled: var(--mnrl-gray-20);
    --mnrl-input-backgroundColor: var(--mnrl-white);
    --mnrl-icon-color-warning: var(--mnrl-attentionYellow-50);
    --mnrl-icon-color-success: var(--mnrl-successGreen-60);
    --mnrl-icon-color-danger: var(--mnrl-dangerRed-60);
    --mnrl-icon-color: var(--mnrl-gray-80);
    --mnrl-h6-fontSize: var(--mnrl-fontSize-ui);
    --mnrl-h6-color: var(--mnrl-gray-80);
    --mnrl-h5-fontSize: var(--mnrl-fontSize-ui);
    --mnrl-h5-color: var(--mnrl-gray-100);
    --mnrl-h4-color: var(--mnrl-gray-80);
    --mnrl-h3-color: var(--mnrl-gray-80);
    --mnrl-h2-color: var(--mnrl-gray-80);
    --mnrl-h1-color: var(--mnrl-gray-100);
    --mnrl-color-warningPrimary: var(--mnrl-gray-100);
    --mnrl-color-warning-active: var(--mnrl-attentionYellow-90);
    --mnrl-color-warning-focus: var(--mnrl-attentionYellow-80);
    --mnrl-color-warning-hover: var(--mnrl-attentionYellow-70);
    --mnrl-color-warning: var(--mnrl-attentionYellow-80);
    --mnrl-color-successPrimary: var(--mnrl-white);
    --mnrl-color-success-active: var(--mnrl-successGreen-70);
    --mnrl-color-success-focus: var(--mnrl-successGreen-60);
    --mnrl-color-success-hover: var(--mnrl-successGreen-50);
    --mnrl-color-success: var(--mnrl-successGreen-60);
    --mnrl-color-dangerPrimary: var(--mnrl-white);
    --mnrl-color-danger-active: var(--mnrl-dangerRed-70);
    --mnrl-color-danger-focus: var(--mnrl-dangerRed-60);
    --mnrl-color-danger-hover: var(--mnrl-dangerRed-50);
    --mnrl-color-danger: var(--mnrl-dangerRed-60);
    --mnrl-color-brandPrimary: var(--mnrl-white);
    --mnrl-color-required: var(--mnrl-dangerRed-60);
    --mnrl-color-readOnly: var(--mnrl-gray-80);
    --mnrl-color-mouse: var(--mnrl-gray-80);
    --mnrl-color-inverted: var(--mnrl-white);
    --mnrl-color-disabled: var(--mnrl-gray-60);
    --mnrl-color: var(--mnrl-gray-100);
    --mnrl-borderColor-warning-active: var(--mnrl-attentionYellow-60);
    --mnrl-borderColor-warning-focus: var(--mnrl-attentionYellow-60);
    --mnrl-borderColor-warning-hover: var(--mnrl-attentionYellow-40);
    --mnrl-borderColor-warning: var(--mnrl-attentionYellow-50);
    --mnrl-borderColor-success-active: var(--mnrl-successGreen-70);
    --mnrl-borderColor-success-focus: var(--mnrl-successGreen-70);
    --mnrl-borderColor-success-hover: var(--mnrl-successGreen-50);
    --mnrl-borderColor-success: var(--mnrl-successGreen-60);
    --mnrl-borderColor-danger-active: var(--mnrl-dangerRed-70);
    --mnrl-borderColor-danger-focus: var(--mnrl-dangerRed-70);
    --mnrl-borderColor-danger-hover: var(--mnrl-dangerRed-50);
    --mnrl-borderColor-danger: var(--mnrl-dangerRed-60);
    --mnrl-borderColor: var(--mnrl-gray-40);
    --mnrl-backgroundColor-warningPrimary-active: var(--mnrl-attentionYellow-60);
    --mnrl-backgroundColor-warningPrimary-focus: var(--mnrl-attentionYellow-50);
    --mnrl-backgroundColor-warningPrimary-hover: var(--mnrl-attentionYellow-40);
    --mnrl-backgroundColor-warningPrimary: var(--mnrl-attentionYellow-50);
    --mnrl-backgroundColor-warning-active: var(--mnrl-attentionYellow-20);
    --mnrl-backgroundColor-warning-focus: var(--mnrl-attentionYellow-10);
    --mnrl-backgroundColor-warning-hover: var(--mnrl-attentionYellow-10);
    --mnrl-backgroundColor-successPrimary-active: var(--mnrl-successGreen-70);
    --mnrl-backgroundColor-successPrimary-focus: var(--mnrl-successGreen-60);
    --mnrl-backgroundColor-successPrimary-hover: var(--mnrl-successGreen-50);
    --mnrl-backgroundColor-successPrimary: var(--mnrl-successGreen-60);
    --mnrl-backgroundColor-success-active: var(--mnrl-successGreen-20);
    --mnrl-backgroundColor-success-focus: var(--mnrl-successGreen-10);
    --mnrl-backgroundColor-success-hover: var(--mnrl-successGreen-10);
    --mnrl-backgroundColor-dangerPrimary-active: var(--mnrl-dangerRed-70);
    --mnrl-backgroundColor-dangerPrimary-focus: var(--mnrl-dangerRed-60);
    --mnrl-backgroundColor-dangerPrimary-hover: var(--mnrl-dangerRed-50);
    --mnrl-backgroundColor-dangerPrimary: var(--mnrl-dangerRed-60);
    --mnrl-backgroundColor-danger-active: var(--mnrl-dangerRed-20);
    --mnrl-backgroundColor-danger-focus: var(--mnrl-dangerRed-10);
    --mnrl-backgroundColor-danger-hover: var(--mnrl-dangerRed-10);
    --mnrl-backgroundColor-disabled: var(--mnrl-gray-20);
    --mnrl-backgroundColor-active: var(--mnrl-gray-20);
    --mnrl-backgroundColor-focus: var(--mnrl-white);
    --mnrl-backgroundColor-hover: var(--mnrl-gray-10);
    --mnrl-backgroundColor: var(--mnrl-white);
    --mnrl-icon-color-brand: var(--mnrl-brand-60);
    --mnrl-color-brand-active: var(--mnrl-brand-70);
    --mnrl-color-brand-focus: var(--mnrl-brand-60);
    --mnrl-color-brand-hover: var(--mnrl-brand-50);
    --mnrl-color-brand: var(--mnrl-brand-60);
    --mnrl-borderColor-brand-active: var(--mnrl-brand-70);
    --mnrl-borderColor-brand-focus: var(--mnrl-brand-70);
    --mnrl-borderColor-brand-hover: var(--mnrl-brand-50);
    --mnrl-borderColor-brand: var(--mnrl-brand-60);
    --mnrl-backgroundColor-brandPrimary-active: var(--mnrl-brand-70);
    --mnrl-backgroundColor-brandPrimary-focus: var(--mnrl-brand-60);
    --mnrl-backgroundColor-brandPrimary-hover: var(--mnrl-brand-50);
    --mnrl-backgroundColor-brandPrimary: var(--mnrl-brand-60);
    --mnrl-backgroundColor-brand-selectedActive: var(--mnrl-brand-10);
    --mnrl-backgroundColor-brand-selectedFocus: var(--mnrl-brand-10);
    --mnrl-backgroundColor-brand-selectedHover: var(--mnrl-brand-10);
    --mnrl-backgroundColor-brand-selected: var(--mnrl-brand-10);
}
