:root {
    /* bg: REVERSE */
    --mnrl-gray-100-bg: var(--mnrl-gray-10-bg);
    --mnrl-gray-90-bg: var(--mnrl-gray-20-bg);
    --mnrl-gray-80-bg: var(--mnrl-gray-30-bg);
    --mnrl-gray-70-bg: var(--mnrl-gray-40-bg);
    --mnrl-gray-60-bg: var(--mnrl-gray-50-bg);
    --mnrl-gray-50-bg: var(--mnrl-gray-60-bg);
    --mnrl-gray-40-bg: var(--mnrl-gray-70-bg);
    --mnrl-gray-30-bg: var(--mnrl-gray-80-bg);
    --mnrl-gray-20-bg: var(--mnrl-gray-90-bg);
    --mnrl-gray-10-bg: var(--mnrl-gray-100-bg);

    /* border */
    --mnrl-gray-100-border: var(--mnrl-gray-100);
    --mnrl-gray-90-border: var(--mnrl-gray-90);
    --mnrl-gray-80-border: var(--mnrl-gray-80);
    --mnrl-gray-70-border: var(--mnrl-gray-70);
    --mnrl-gray-60-border: var(--mnrl-gray-60);
    --mnrl-gray-50-border: var(--mnrl-gray-50);
    --mnrl-gray-40-border: var(--mnrl-gray-40);
    --mnrl-gray-30-border: var(--mnrl-gray-30);
    --mnrl-gray-20-border: var(--mnrl-gray-20);
    --mnrl-gray-10-border: var(--mnrl-gray-10);

    /* icon */
    --mnrl-gray-100-icon: var(--mnrl-gray-100);
    --mnrl-gray-90-icon: var(--mnrl-gray-90);
    --mnrl-gray-80-icon: var(--mnrl-gray-80);
    --mnrl-gray-70-icon: var(--mnrl-gray-70);
    --mnrl-gray-60-icon: var(--mnrl-gray-60);
    --mnrl-gray-50-icon: var(--mnrl-gray-50);
    --mnrl-gray-40-icon: var(--mnrl-gray-40);
    --mnrl-gray-30-icon: var(--mnrl-gray-30);
    --mnrl-gray-20-icon: var(--mnrl-gray-20);
    --mnrl-gray-10-icon: var(--mnrl-gray-10);

    /* text */
    --mnrl-gray-100-text: var(--mnrl-gray-100);
    --mnrl-gray-90-text: var(--mnrl-gray-90);
    --mnrl-gray-80-text: var(--mnrl-gray-80);
    --mnrl-gray-70-text: var(--mnrl-gray-70);
    --mnrl-gray-60-text: var(--mnrl-gray-60);
    --mnrl-gray-50-text: var(--mnrl-gray-50);
    --mnrl-gray-40-text: var(--mnrl-gray-40);
    --mnrl-gray-30-text: var(--mnrl-gray-30);
    --mnrl-gray-20-text: var(--mnrl-gray-20);
    --mnrl-gray-10-text: var(--mnrl-gray-10);
}
