:root {
    /* LIGHT: 100=dark, 0=light */
    --x4-gray-100: #181818;
    --x4-gray-99: #222222;
    --x4-gray-95: #333333;
    --x4-gray-93: #393939;
    --x4-gray-90: #444444;
    --x4-gray-85: #464646;
    --x4-gray-83: #4c4c4c;
    --x4-gray-80: #666666;
    --x4-gray-70: #888888;
    --x4-gray-68: #8f8f8f;
    --x4-gray-65: #a9a9a9;
    --x4-gray-60: #aaaaaa;
    --x4-gray-59: #ababab;
    --x4-gray-55: #b0b0b0;
    --x4-gray-53: #b3b3b3;
    --x4-gray-52: #b4b4b4;
    --x4-gray-50: #bbbbbb;
    --x4-gray-45: #c5c5c5;
    --x4-gray-40: #c6c6c6;
    --x4-gray-39: #cccccc;
    --x4-gray-35: #d6d6d6;
    --x4-gray-34: #d7d7d7;
    --x4-gray-30: #dddddd;
    --x4-gray-25: #e0e0e0;
    --x4-gray-20: #e6e6e6;
    --x4-gray-18: #e9e9e9;
    --x4-gray-15: #eeeeee;
    --x4-gray-14: #efefef;
    --x4-gray-10: #f1f1f1;
    --x4-gray-05: #f6f6f6;
    --x4-gray-03: #fafafa;

    --x4-white: white;
    --x4-black: black;
    --x4-red: red;
    --x4-dimgray: dimgray;
    --x4-silver: silver;
    --x4-gray: gray;
    --x4-lightgray: lightgray;

    /* bg */
    --x4-white-bg: var(--x4-white);
    --x4-black-bg: var(--x4-black);
    --x4-gray-100-bg: var(--x4-gray-100);
    --x4-gray-99-bg: var(--x4-gray-99);
    --x4-gray-95-bg: var(--x4-gray-95);
    --x4-gray-93-bg: var(--x4-gray-93);
    --x4-gray-90-bg: var(--x4-gray-90);
    --x4-gray-85-bg: var(--x4-gray-85);
    --x4-gray-83-bg: var(--x4-gray-83);
    --x4-gray-80-bg: var(--x4-gray-80);
    --x4-gray-70-bg: var(--x4-gray-70);
    --x4-gray-68-bg: var(--x4-gray-68);
    --x4-gray-65-bg: var(--x4-gray-65);
    --x4-gray-60-bg: var(--x4-gray-60);
    --x4-gray-59-bg: var(--x4-gray-59);
    --x4-gray-55-bg: var(--x4-gray-55);
    --x4-gray-53-bg: var(--x4-gray-53);
    --x4-gray-52-bg: var(--x4-gray-52);
    --x4-gray-50-bg: var(--x4-gray-50);
    --x4-gray-45-bg: var(--x4-gray-45);
    --x4-gray-40-bg: var(--x4-gray-40);
    --x4-gray-39-bg: var(--x4-gray-39);
    --x4-gray-35-bg: var(--x4-gray-35);
    --x4-gray-34-bg: var(--x4-gray-34);
    --x4-gray-30-bg: var(--x4-gray-30);
    --x4-gray-25-bg: var(--x4-gray-25);
    --x4-gray-20-bg: var(--x4-gray-20);
    --x4-gray-18-bg: var(--x4-gray-18);
    --x4-gray-15-bg: var(--x4-gray-15);
    --x4-gray-14-bg: var(--x4-gray-14);
    --x4-gray-10-bg: var(--x4-gray-10);
    --x4-gray-05-bg: var(--x4-gray-05);
    --x4-gray-03-bg: var(--x4-gray-03);

    /* border */
    --x4-white-border: var(--x4-white);
    --x4-black-border: var(--x4-black);
    --x4-gray-100-border: var(--x4-gray-100);
    --x4-gray-99-border: var(--x4-gray-99);
    --x4-gray-95-border: var(--x4-gray-95);
    --x4-gray-93-border: var(--x4-gray-93);
    --x4-gray-90-border: var(--x4-gray-90);
    --x4-gray-85-border: var(--x4-gray-85);
    --x4-gray-83-border: var(--x4-gray-83);
    --x4-gray-80-border: var(--x4-gray-80);
    --x4-gray-70-border: var(--x4-gray-70);
    --x4-gray-68-border: var(--x4-gray-68);
    --x4-gray-65-border: var(--x4-gray-65);
    --x4-gray-60-border: var(--x4-gray-60);
    --x4-gray-59-border: var(--x4-gray-59);
    --x4-gray-55-border: var(--x4-gray-55);
    --x4-gray-53-border: var(--x4-gray-53);
    --x4-gray-52-border: var(--x4-gray-52);
    --x4-gray-50-border: var(--x4-gray-50);
    --x4-gray-45-border: var(--x4-gray-45);
    --x4-gray-40-border: var(--x4-gray-40);
    --x4-gray-39-border: var(--x4-gray-39);
    --x4-gray-35-border: var(--x4-gray-35);
    --x4-gray-34-border: var(--x4-gray-34);
    --x4-gray-30-border: var(--x4-gray-30);
    --x4-gray-25-border: var(--x4-gray-25);
    --x4-gray-20-border: var(--x4-gray-20);
    --x4-gray-18-border: var(--x4-gray-18);
    --x4-gray-15-border: var(--x4-gray-15);
    --x4-gray-14-border: var(--x4-gray-14);
    --x4-gray-10-border: var(--x4-gray-10);
    --x4-gray-05-border: var(--x4-gray-05);
    --x4-gray-03-border: var(--x4-gray-03);

    /* icon */
    --x4-white-icon: var(--x4-white);
    --x4-black-icon: var(--x4-black);
    --x4-gray-100-icon: var(--x4-gray-100);
    --x4-gray-99-icon: var(--x4-gray-99);
    --x4-gray-95-icon: var(--x4-gray-95);
    --x4-gray-93-icon: var(--x4-gray-93);
    --x4-gray-90-icon: var(--x4-gray-90);
    --x4-gray-85-icon: var(--x4-gray-85);
    --x4-gray-83-icon: var(--x4-gray-83);
    --x4-gray-80-icon: var(--x4-gray-80);
    --x4-gray-70-icon: var(--x4-gray-70);
    --x4-gray-68-icon: var(--x4-gray-68);
    --x4-gray-65-icon: var(--x4-gray-65);
    --x4-gray-60-icon: var(--x4-gray-60);
    --x4-gray-59-icon: var(--x4-gray-59);
    --x4-gray-55-icon: var(--x4-gray-55);
    --x4-gray-53-icon: var(--x4-gray-53);
    --x4-gray-52-icon: var(--x4-gray-52);
    --x4-gray-50-icon: var(--x4-gray-50);
    --x4-gray-45-icon: var(--x4-gray-45);
    --x4-gray-40-icon: var(--x4-gray-40);
    --x4-gray-39-icon: var(--x4-gray-39);
    --x4-gray-35-icon: var(--x4-gray-35);
    --x4-gray-34-icon: var(--x4-gray-34);
    --x4-gray-30-icon: var(--x4-gray-30);
    --x4-gray-25-icon: var(--x4-gray-25);
    --x4-gray-20-icon: var(--x4-gray-20);
    --x4-gray-18-icon: var(--x4-gray-18);
    --x4-gray-15-icon: var(--x4-gray-15);
    --x4-gray-14-icon: var(--x4-gray-14);
    --x4-gray-10-icon: var(--x4-gray-10);
    --x4-gray-05-icon: var(--x4-gray-05);
    --x4-gray-03-icon: var(--x4-gray-03);

    /* text */
    --x4-white-text: var(--x4-white);
    --x4-black-text: var(--x4-black);
    --x4-gray-100-text: var(--x4-gray-100);
    --x4-gray-99-text: var(--x4-gray-99);
    --x4-gray-95-text: var(--x4-gray-95);
    --x4-gray-93-text: var(--x4-gray-93);
    --x4-gray-90-text: var(--x4-gray-90);
    --x4-gray-85-text: var(--x4-gray-85);
    --x4-gray-83-text: var(--x4-gray-83);
    --x4-gray-80-text: var(--x4-gray-80);
    --x4-gray-70-text: var(--x4-gray-70);
    --x4-gray-68-text: var(--x4-gray-68);
    --x4-gray-65-text: var(--x4-gray-65);
    --x4-gray-60-text: var(--x4-gray-60);
    --x4-gray-59-text: var(--x4-gray-59);
    --x4-gray-55-text: var(--x4-gray-55);
    --x4-gray-53-text: var(--x4-gray-53);
    --x4-gray-52-text: var(--x4-gray-52);
    --x4-gray-50-text: var(--x4-gray-50);
    --x4-gray-45-text: var(--x4-gray-45);
    --x4-gray-40-text: var(--x4-gray-40);
    --x4-gray-39-text: var(--x4-gray-39);
    --x4-gray-35-text: var(--x4-gray-35);
    --x4-gray-34-text: var(--x4-gray-34);
    --x4-gray-30-text: var(--x4-gray-30);
    --x4-gray-25-text: var(--x4-gray-25);
    --x4-gray-20-text: var(--x4-gray-20);
    --x4-gray-18-text: var(--x4-gray-18);
    --x4-gray-15-text: var(--x4-gray-15);
    --x4-gray-14-text: var(--x4-gray-14);
    --x4-gray-10-text: var(--x4-gray-10);
    --x4-gray-05-text: var(--x4-gray-05);
    --x4-gray-03-text: var(--x4-gray-03);
}
