/* Rally uses several (!) versions of ExtJS: 2.1 and 4.x.
*/
.x-body,
.x4-body,
.x-panel-body-default {
    background-color: var(--main-bg);
    color: var(--main-text);
}

#main .x4-btn {
    background-color: var(--button-bg);
    border-color: var(--button-border);
}

#main .x4-grid-body {
    background-color: inherit;
    color: inherit;
}

#main .x4-form-field,
#main .x4-form-field input {
    background-color: #555 !important;
    color: #ddd !important;
}

#main .x4-form-trigger {
    color: #ddd;
    background-color: #555;
}

#main .x4-field-label-cell,
#main .page-size-label {
    color: #ddd;
}

#main .x4-column-header {
    color: #ddd;
    background-color: #333;
    border-color: #333;
}

#main .x4-column-header .x4-column-header-inner {
    color: #ddd;
}

#main .x4-grid-cell {
    background-color: #111;
    color: #ddd;
    border-color: #555;
}

/* Text Editor */
.smb-RichTextEditor-textArea,
.cke_editable {
    background-color: var(--cke-editable-bg);
    color: var(--cke-editable-text);
}

.chr-FormattedId .chr-FormattedId-idText,
.cke_editable a {
    color: var(--link-text);
}

.cke_bottom {
    background-color: #bbb;
}

/* Images so they don't POP white (they'll still be white because they are.) */
.style_4 {
    background-color: #000;
}

.rally-group-header.multi-object-picker-header,
.x-boundlist .x-boundlist-item {
    background-color: var(--control-bg);
    border-color: var(--control-border);
    color: var(--control-text);
}
