/* Rally uses several (!) versions of ExtJS: 2.1 and 4.x.
 * This is ExtJS 2.1 (incomplete).
 */
.x-body,
.x-panel-body-default {
    background-color: var(--main-primary-bg);
    color: var(--main-primary-text);
}

.x-boundlist .x-boundlist-item {
    background-color: var(--main-control-bg);
    border-color: var(--main-control-border);
    color: var(--main-control-text);
}
