/*
@import '~styles/color-variables';
@import '~styles/font-variables';
@import 'node_modules/@mineral/tokens/build/light/index.scss';
*/

#main .chr-ViewportProjectPickerTree-wrapper .smb-DataTableBlankSlate-primaryMessage {
    color: var(--mnrl-h2-color);
}

#main .chr-ViewportProjectPickerTree-wrapper .chr-ViewportProjectPickerTree::-webkit-scrollbar-thumb {
    background-color: var(--mnrl-gray-60);
}

#main .chr-ViewportProjectPickerTree-wrapper .chr-ViewportProjectPickerTree::-webkit-scrollbar-thumb:hover {
    background-color: var(--mnrl-gray-100);
}

#main .chr-ViewportProjectPickerTree-wrapper .chr-ViewportProjectPickerListItem-navLink:focus {
    background-color: var(--mnrl-gray-20);
}

#main .chr-ViewportProjectPickerHierarchy-search > .smb-Button {
    background-color: var(--mnrl-brand-10);
}

#main .smb-DataTableBlankSlate-primaryMessage {
    color: var(--mnrl-h2-color);
}

#main .chr-ViewportProjectPickerTreeItem--current {
    background-color: var(--mnrl-gray-40);
}

#main .chr-ViewportProjectPickerListItem--inScope {
    background-color: var(--mnrl-gray-30);
}
#main .chr-ViewportProjectPickerTreeItem:hover {
    background-color: var(--mnrl-gray-20);
}
#main .chr-ViewportProjectPickerListItem .match {
    background-color: var(--mnrl-brand-30);
}

#main .chr-ViewportProjectPickerHierarchy .chr-ViewportProjectPickerHierarchy-header > .smb-Button,
#main .chr-ViewportProjectPickerHierarchy .chr-ViewportProjectPickerHierarchy-header > .chr-ViewportProjectPickerHierarchy-search > .smb-Button {
    background-color: var(--mnrl-brand-10);
}

#main .chr-ViewportProjectPickerHierarchy .chr-ViewportProjectPickerHierarchy-header > .smb-Button:hover,
#main .chr-ViewportProjectPickerHierarchy .chr-ViewportProjectPickerHierarchy-header > .chr-ViewportProjectPickerHierarchy-search > .smb-Button:hover {
    color: var(--mnrl-brand-40);
}

#main .chr-ViewportProjectPickerHierarchy .smb-Button {
    border-color: transparent;
}

#main .chr-ViewportProjectPickerHierarchy .smb-Button:focus {
    border-color: var(--mnrl-borderColor-brand-focus);
}

#main .chr-ViewportProjectPickerHierarchy .divider {
    border-top-color: var(--mnrl-gray-40);
}

#main .chr-ViewportProjectPickerHierarchy .chr-ViewportProjectPickerHierarchy-header > .smb-Button,
#main .chr-ViewportProjectPickerHierarchy .chr-ViewportProjectPickerHierarchy-header > .chr-ViewportProjectPickerHierarchy-search > .smb-Button {
    background-color: var(--viewport-button-bg);
}
