/*
@import '~styles/index-variables';
@import 'node_modules/@mineral/tokens/build/light/index.scss';
*/

.chr-ViewportProfileMenu-dropdown {
    align-items: center;
    display: flex;
    height: 4rem;
}

.chr-ViewportProfileMenu-dropdown:focus .smb-DropdownMenu {
    border: solid 0.1rem var(--mnrl-borderColor-brand-focus);
}

.chr-ViewportProfileMenu-dropdown:hover .smb-DropdownMenu {
    background-color: var(--mnrl-backgroundColor-hover);
}

.chr-ViewportProfileMenu-dropdown .smb-DropdownMenu {
    align-items: center;
    border: 1px solid transparent;
    border-radius: var(--mnrl-borderRadius-1);
    display: flex;
    padding: 0.4rem;

    .chr-ViewportProfileMenu-avatar {
        cursor: pointer;
        border-radius: 50%;
        margin-right: 0.4rem;
        width: 3.2rem;
        height: 3.2rem;
    }

    .smb-SvgIcon {
        color: var(--mnrl-color-brand);
    }
}
